<!DOCTYPE html>
<html lang="en" data-ng-app="MMMain">
<head>
    <meta charset="utf-8" />
    <title>Misty Mountains</title>
    <meta name="description" content="Mining tool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <script src="../bower_components/angular/angular.js" ></script>
    <script src="js/service-factory.js" ></script>
    <script type="text/javascript">
        registerServiceWorker('./cache-worker.js');
    </script>
</head>
<body ng-controller="AppCtrl">
<div class="app" id="app">
    <div class="initial-loading-anim">

    </div>
    <div class="pick-dwarf-container" ng-show="dwarves">
        <div class="dwarf-container">
            <div class="label">Pick a dwarf</div>
            <div class="dwarfs-list">
                <div class="dwarf" ng-repeat="dwarf in dwarves" data-id="{{dwarf.id}}" ng-click="pickDwarf(dwarf.id)">
                    <div class="label">{{dwarf.name}}</div>
                    <img ng-src="./img/{{dwarf.name}}.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="misty-mountains-game-base">
        <div class="mm-head">
            <div class="scoreboard">
                <div class="score-value">
                    {{score}}
                </div>
            </div>
        </div>
        <div class="mm-area">
            <div class="mm-grid">
                <div ng-repeat="row in map">
                    <div ng-repeat="cell in row">
                        <div class="tile" mm-tile>
                            <div class="dirt"></div>
                            <div class="coin" ng-show="cell.coin"></div>
                            <div class="rubin" ng-show="cell.rubin"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js" ></script>
<script src="js/MMMain.js" ></script>
</body>
</html>
